<!DOCTYPE html>  
<html lang="en">  
<head>
  <meta charset="utf-8">
  <title>Honden</title>
  <link rel="icon" type="image/svg+xml" href="/assets/torii.svg">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  <style>
    @font-face {
      font-family: 'iosevka';
      src: url('/assets/iosevka-splendid-regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    :root {
      --black: #0e0c0b;
      --lvl1: #161515;
      --lvl2: #2c2b2b;
      --grey: #999;
      --red: #ff0000;
      --green: #8bec55;
      --yellow: #ff9c00;
      --blue: #00a2ff;
      --magenta: #ff00ce;
      --cyan: #0bf8ee;
      --white: #ffffff;
    }

    body {
      background-color: var(--black);
      color: var(--white);
      padding: 10px;
    }

    * {
      font-family: 'iosevka';
      margin: 0;
      padding: 0;
    }

    a {
      color: var(--cyan);
      text-decoration: none;
    }
    a:visited {
      color: var(--cyan);
    }

    .main-container {
      display: flex;
      gap: 10px;
      margin-top: 10px;
    }

    .main-container > * {
      border: 1px solid var(--red);
    }

    #contentDisplay {
      max-width: 60em;
      width: 100%;
      min-height: 30em;
      padding: 10px;
      position: relative;
    }

    .links {
      min-height: 10em;
      width: 25em;
      padding: 10px;
    }

    button, input {
      font-size: 1rem;
      background-color: var(--lvl1);
      color: var(--white);
      padding: 0.3em 0.6em;
      min-width: 6em;
      border: 1px solid var(--grey);
    }

    button:hover {
      cursor: pointer;
    }

    button:active {
      background-color: var(--white);
      color: var(--black);
    }

    .filename {
      font-size: 2rem;
      text-align: center;
    }

    .bottom-bar {
      display: flex;
      gap: 20px;
      margin-top: 20px;
    }

    .bottom-bar a {
      background-color: var(--lvl1);
      padding: 0.3em 1em;
    }
  </style>
</head>
<body>

{{>topBar this}}

<br>
<p class="filename"> {{inode.entity.filename}} </p>

<div class="main-container">
  <div id="contentDisplay">
    {{#isType inode 'note'}}
      {{>note inode}}
    {{/isType}}
    {{#isType inode 'media'}}
      {{>media inode}}
    {{/isType}}
    <!--
      {{>classifiedNotice}}
    -->
  </div>
  <div class="links">
    {{#each linkInodes}}
        {{>entityLink this}}
    {{/each}}
  </div>
</div>

<div class="bottom-bar">
  <a href="/file/{{inode.uuid}}">direct link</a>
  <a download="{{inode.entity.filename}}" href="/file/{{inode.uuid}}">download</a>
</div>

</body>
<script>
</script>
</html>