<a hx-post="/restore_link?uuid1={{uuid1}}&uuid2={{uuid2}}" class="restore-link" hx-target="closest .entity-link-container" hx-swap="outerHTML"> Click to restore </a>

<style>
  .restore-link {
    color: var(--grey);
  }
</style>
